{% extends 'baseTemplate.html' %}

{% block title %} DATA3INT lol {% endblock %}

{% block content %}  
    <div id="landingArea"> 
        <h1 id="welcome">Hamza Salman</h1>
        <h4>Welcome to my Data Science focused website! Here I do fun projects and record everything I learn.</h4>
    </div> 
    <div id="content">
        <div id="aboutMe">
            <h2>About Me</h2>
            <p>
                For as long as I can remember, I've always wanted to know what made machines <b>'tick'.</b> This lead to alot of broken toys and rc cars I couldn't put back together as my 9 year old self. Eventually I <b>learned</b> how to build my first computer and not long after I wanted to <b>make my own games </b> which lead me into <b>programming</b> where  <b>I fell in love with computers.</b>
                <br />
                <br />Today, I am fluent in programming languages like
                <i>
                  <b> Python, JavaScript, Java, HTML/CSS and PHP.</b>
                </i>
                <br />
                <br />
                My field of Interest's are
                  <b>
                    Data Science and Machine Learning.
                  </b>
                </i>
                <br />
                <br />
                For fun, I like developing applications
                with <b>Node.js</b> and
                <i>
                  <b>
                    Modern Javascript Library and Frameworks
                  </b>
                </i>
                &nbsp; like
                <i>
                  <b> React.js and Next.js </b>
                </i>
                 due to modern features and it's simplicity which makes its faster to create something that works quickly with minimal code needed.
              </p>
        </div>
        <div id="projects">
            <h2>Projects</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div id="resume">
            <h2>Resume</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div id="contact">
            <h2>Contact</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div> 
{% endblock %}